<h1>Comments for <%=@user.name%></h1>
<ul class= 'list-group'>

<% @comments.each do |comment| %>
  <li class= 'list-group-item d-flex flex-column'>
  <span> @<%= comment.user.name %> : </span> 
  <p> <%= comment.text %> </p>
  </li>
  <% end %>
 
</ul>
