<section class='card mt-3 p-2'>
  <h2>About Us</h2>

  <ul class ='list-group mt-2'>
    <li class='border-bottom ms-2'>Name: Brahim didi</li>
    <li class='border-bottom ms-2'>Email : brahimgb1team@gmail.com</li>
    <li class='border-bottom ms-2'><a href ='border-bottom ms-2https://github.com/brahimdidi' target="_blank">My github</a></li>
    <li class='ms-2 mt-3 alert alert-info p-2'>ALL RIGHTS RESERVED 2022 </li>
  </ul>
</seciton>