<h1>Users#users</h1>
<ul class= 'list-group'>

<% @users.each do |user| %>
  <li class= 'list-group-item d-flex justify-content-around'>
   name : <%= user.name %>
   <span>number of posts : <%= user.posts.length %> </span> 
   </li>
   <div>
   <%= link_to "see more", user%>
   </div>
  <% end %>
</ul>

