<h1>Users </h1>
<ul class='list-group'>
  <%@users.each do |user| %>
    <li class ='list-group-item d-flex flex-column'>
        <div class= 'd-flex'>
          <img src=<%= user.photo %> alt='profile picture' class='p-3 w-25'>
          <div class='ml-4 p-1'>
            <h1> Name:  <%= user.name %></h1>
            <span>Posts number  <%= user.postsCounter %></span>
          </div>
        </div>
      <%= link_to 'see more about this user', user, class: 'btn btn-secondary'%>
    </li>
  <%end %>
</ul>
