# <form class='bg-light d-flex flex-column align-items-center' action='/users' method='post'>
#   <h1>create a new user</h1>
#   <div class = 'form-group d-flex flex-column p-3 w-50'>
#     <input type='text' name="user[:name]" placeholder= 'name'>
#     <input type='text' bio="user[:bio]" placeholder= 'bio'>
#     <input type='text' photo="user[:photo]" placeholder= 'photo url'>
#     <button type='submit' class='btn-primary'>create</button>
#   </div>
# </form>