<div class= 'card'>
    <div class="card-body">
      <h5 class="card-title">
      <span>@<%= @post.user.name %>:<span/> </h5>
      <p class="card-text ml-3"><%= @post.title %>: <br/><%= @post.text %></p>
    </div>
   <%= link_to "see more", post%>
</div>