

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import 'bootstrap-custom';
/*
*= require bootstrap
*= require_tree .
*= require_self
*/
 * {
  font-family: 'Roboto', sans-serif;
  list-style: none;
 }
 ul {
  gap: 10px !important;
 }
 ul li {
  padding: 10px;
 }
 a {
  font-family: 'Anek Telugu', sans-serif;
  text-transform: capitalize;
 }
 h1 {
  font-size: 4vw;
 }


.form-group {
  gap: 5px;
}

#dropdown {
  position: absolute;
  right: 10px;
  top: 3px;
}
img {
  max-height: 200px;
  max-width: 300px;
}

.show-post-container {
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
}
.comment-list {
  gap: 3px;
}

.post-title-text {
  border-bottom: 2px solid black;
}
.go-back {
  text-decoration: none;
  padding: 3px;
  margin-left: 0px;
}

.post-time {
  background-color: #f3f3f3;
  display: block;
  margin-bottom: 10px;
}

.field {
  padding: 3px;
}

.shared-links-div {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.shared-links-div > * {
  border: 1px solid black;
  text-decoration: none;
  background: cornflowerblue;
  color: white;
  padding: 5px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  max-width: 200px;
}
.shared-links-div > *:hover {
  background-color: white;
  color: black;
  opacity: 0.4;
  transition: 0.3 s ease-in-out;
}






/* .fa {
  display: none;
}
/* styling the app for mobile view */
@media screen and (min-width: 900px) {
  .go-back {
    margin-right: 20px;
  }
} 