<header class="header w-100 p-1 bg-dark d-flex">
  <%= link_to 'users', users_path, class: '' %>
  <nav class="nav d-flex justify-content-between" id="navbar">
    <i class="fa-solid fa-xmark-large d-none" id="nav-btn"></i>
    <ul class="phone-nav">
      <%= link_to 'posts', users_path, class: '' %>
      <%= link_to 'about us', users_path, class: '' %>
      <%= link_to 'contact us', users_path, class: '' %>
    </ul>
  </nav>
</header>