<header class="header w-100 p-1 bg-dark d-flex p-2 justify-content-between">
  <%= link_to 'users', users_path, class: '' %>
  <nav class="nav d-flex justify-content-between w-50" id="navbar">
      <%= link_to 'posts', users_path, class: '' %>
      <%= link_to 'about us', users_path, class: '' %>
      <%= link_to 'contact us', users_path, class: '' %>
  </nav>
</header>